.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.box{
    border: 2px solid black;
    height: 45px;
    width: 45px;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/main
